<h1>Cart:</h1>
<%= @cart.each do |v| %>
<p><%="[" << v << "]" << "\n" %></p>
<% end %>

<%= form_tag controller: 'products', action: 'add', method: 'post' do %>
  <input name=product>
  <input type=submit value='add to cart'>
<% end %>